body {
	font-family: sans-serif;
	background-color: coral;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.display {
	width: 500px;
	background-color: lightseagreen;
	border-radius: 50px;
	border: solid;
	text-align: center;
	font-size: 50px;
	padding: 30px 0px;
  margin-top: 100px;
}

.button {
	width: 100px;
	height: 50px;
	background-color: lightseagreen;
	border-radius: 50px;
	margin: 20px;
	background-color: maroon;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid;
}
